/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lugrasimo&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/*General*/
:root {
  --color-primary: rgb(244, 208, 27);
  --color-secondary: black ;
  --color-tercery: white;

  --color-text-dark: black;
  --color-text-light: white;

  --color-background:;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

nav a {
  transition: all 0.3s;
  display: inline-block;
}

a:visited,
a:link {
  color: rgb(0, 0, 0);
}

.header {
  background: repeating-linear-gradient(10deg, var(--color-primary), rgb(231, 208, 34), var(--color-primary, rgb(194, 194, 19)));
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3%;
  width: 100%;
}

header img {
  height:50px;
  width: auto;
  padding: 0.1%;
}

header p {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

.header #logo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .bar-link {
  list-style: none;
}

.bar-link li {
  display: inline-block;
  margin: 5px 20px;
  cursor: pointer;
  transition: all 0.1s;
}

.bar-link a {
  color: var(--color-text-light);
  font-size: 20px;
  padding: 10%;
  border: solid;
  border-radius: 50px 50px 50px 50px;
  border-color: transparent;
}

.bar-link li a:hover {
  color: var(--color-text-dark);
  border: solid;
  border-radius: 50px 50px 50px 50px;
  border-color: var(--color-text-dark);
}

/*main*/

main {
  background-color: var(--color-secondary);
  display: flex;
  flex: 1; 
  flex-direction: column;
  align-items: center;
}



h1, p, h2 {
  color: var(--color-text-light);
}

#home-section img {
  
}

/*Footer*/

footer {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 13px;
  display: flex;
  justify-content: space-evenly;
  background: repeating-linear-gradient(10deg, var(--color-primary), rgb(231, 208, 34), var(--color-primary, rgb(194, 194, 19)));
  height: 40px;
  width: 100%;
  align-items: center;
  padding: 1rem;
}