/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lugrasimo&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


:root {
  --color-primary: rgb(244, 208, 27);
  --color-secondary: black ;
  --color-tercery: white;

  --color-text-dark: black;
  --color-text-light: white;

  --color-background:;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

nav a {
  transition: all 0.3s;
  display: inline-block;
}

a:visited,
a:link {
  color: rgb(0, 0, 0);
}

.header {
  background-color: var(--color-primary); 
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  top: 0;
  width: 100%;
}

header img {
  height:50px;
  width: auto;
  padding: 0.1%;
}

header p {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

.header #logo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .bar-link {
  list-style: none;
}

.bar-link li {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.1s;
}

.bar-link a {
  color: var(--color-text-light);
  font-size: 20px;
  padding: 10%;
  border: solid;
  border-radius: 50px 50px 50px 50px;
  border-color: var(--color-primary);
}

.bar-link li a:hover {
  color: var(--color-text-dark);
  border: solid;
  border-radius: 50px 50px 50px 50px;
  border-color: var(--color-text-dark);
}